body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
    height: 100vh;
    background : rgb(32, 31, 31);
}

.calculator{
    display : flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    height: auto;
    background : rgb(85, 84, 84);
    padding : 25px;
    border-radius: 24px;
    box-shadow: 6px 6px 12px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap : 8px;
}

button{
    font-size: 24px;
    border-radius: 50%;
    padding: 1rem 0;
    border-style: hidden;
    box-shadow: 3px 3px 4px;
}

button:hover{
    transform: scale(1.05);
}

.display{
    text-align: right;
    font-size: 32px;
    background: grey;
    height : 1em;
    border-radius: 12px;
    padding: 8px;
    box-shadow: -2px -2px 4px;
}

.delete{
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 24px;
    background: rgb(248, 122, 64)
}

.equals{
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 24px;
    background : rgb(2, 172, 2)
}

.clear{
    background: rgb(111, 146, 252)
}

.operator{
    background : rgb(255, 238, 0)
}